<div class="d-flex">
  <!-- Barra lateral -->
  <div class="sidebar">
    <h3 class="text-center">Dashboard</h3>
    <button class="btn btn-danger mt-3" (click)="signOut()">Cerrar sesión</button>
    <button class="btn btn-primary w-100 mb-2" (click)="navigateToCreateAjuste()">Crear Ajuste Razonable</button>
    <button class="btn btn-secondary w-100 mb-2" (click)="navigateToListAjustes()">Listar Ajustes Razonables</button>
    <button class="btn btn-info w-100 mb-2" (click)="navigateToMyAjustes()">Mis Ajustes</button>
    <button class="btn btn-success w-100 mb-2" (click)="navigateToSearchUsers()">Buscar Usuarios</button>
    <button *ngIf="isAdmin" class="btn btn-warning w-100 mb-2" (click)="navigateToCreateVerificacion()">Crear Verificación</button>
    <button class="btn btn-dark w-100 mb-2" (click)="toggleHistorial()">
      {{ showHistorial ? 'Ocultar Historial Chatbot' : 'Ver Historial Chatbot' }}
    </button>
    <!-- Botón para mostrar/ocultar el chatbot -->
    <button class="btn btn-success w-100 mt-4" (click)="toggleChatbot()">
      {{ showChatbot ? 'Ocultar Chatbot' : 'Mostrar Chatbot' }}
    </button>
  </div>

  <!-- Contenido principal -->
  <div class="main-content p-4 w-100">
    <!-- Mostrar el chatbot solo si 'showChatbot' es verdadero -->
    <div *ngIf="showChatbot">
      <app-chatbot></app-chatbot>
    </div>
    <div *ngIf="showHistorial">
      <app-historial-chatbot></app-historial-chatbot>
    </div>
  </div>
  
  
  
</div>
