/* Barra lateral */
.sidebar {
  height: 100vh; /* Altura completa de la pantalla */
  width: 250px; /* Ancho de la barra lateral */
  background-color: #343a40; /* Color de fondo oscuro */
  color: white;
  padding: 20px;
  position: fixed; /* Fija la barra lateral */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar h3 {
  color: #fff;
  margin-bottom: 20px;
}

.sidebar button {
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #007bff; /* Cambio de color al pasar el cursor */
}

/* Contenido principal */
.main-content {
  margin-left: 250px; /* Deja espacio para la barra lateral */
  padding-top: 20px;
  min-height: 100vh; /* Asegura que el contenido ocupe toda la pantalla */
}
button.btn-danger {
  width: 100%; /* Si deseas que ocupe todo el ancho */
  padding: 12px;
  font-size: 16px;
  text-align: center;
}
.grafico-ajustes {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f4f8fb;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}


button.btn-danger:hover {
  background-color: #c82333;
}

/* Media query para pantallas pequeñas (ocultar barra lateral y mostrar menú hamburguesa si es necesario) */
@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Ancho completo en pantallas pequeñas */
    height: auto;
    position: static;
    padding: 10px;
  }

  .main-content {
    margin-left: 0;
    padding: 10px;
  }
}
